<!DOCTYPE>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesFooter.css">
  </head>
  <body>
	<footer class="container1"><p>All rights belongs to &copy; Darren</p></footer>
  </body>
</html>