<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesHeader.css">
  </head>
  <body>
  <header>	
  <p>DJ</p>
  <nav> <a href="/">Home</a>
    <a href="/To-Do">TaskMinder</a>
    <a href="/about">About</a>
  </nav>
  
  </header>

  </body>

</html>