<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesAbout.css">
    <link rel="icon" type ="image/x-icon "  href="/images/favicon.ico">
</head>

<body>
    <%- include("partials/header.ejs") %> 
    <div>
        <img src="/images/forest.jpg">

         <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Nisl tincidunt eget nullam non nisi est sit amet. Dui faucibus in ornare quam viverra orci
        sagittis eu volutpat. Amet aliquam id diam maecenas ultricies. Tortor id aliquet lectus proin nibh nisl.
        Faucibus scelerisque eleifend donec pretium vulputate. Tincidunt vitae semper quis lectus nulla at volutpat
        diam. Velit aliquet sagittis id consectetur purus.
     </p>
    </div>
   

        <%- include("partials/footer.ejs") %> 

    </body>

</html>