<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/stylesAbout.css">  
     <title>TaskMinder</title>
    <link rel="icon" type ="image/x-icon "  href="/images/favicon3.ico">
</head>

<body>
    <%- include("partials/header.ejs") %> 
    <div id="about">
        <img class="pic" src="/images/ProfilePic.jpg">
<br>
         <p class="para lead"> 👋 Hi, I'm Darren, a passionate and detail-oriented web developer embarking on a journey to redefine online experiences. With a keen eye for design and a commitment to seamless functionality, I specialize in creating visually stunning and intuitively responsive websites. Welcome to my digital canvas, where innovation and aesthetics converge! 🚀✨ #WebDevelopment #InnovationInProgress
     </p>
    </div>
   

        <%- include("partials/footer.ejs") %> 

    </body>

</html>