<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <%- include("partials/header.ejs") %> 

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Nisl tincidunt eget nullam non nisi est sit amet. Dui faucibus in ornare quam viverra orci
        sagittis eu volutpat. Amet aliquam id diam maecenas ultricies. Tortor id aliquet lectus proin nibh nisl.
        Faucibus scelerisque eleifend donec pretium vulputate. Tincidunt vitae semper quis lectus nulla at volutpat
        diam. Velit aliquet sagittis id consectetur purus. Pellentesque sit amet porttitor eget dolor morbi non arcu
        risus. Varius duis at consectetur lorem donec massa sapien faucibus et. Gravida in fermentum et sollicitudin.
        Non enim praesent elementum facilisis leo vel. Nunc sed augue lacus viverra vitae congue eu. Faucibus ornare
        suspendisse sed nisi. Ipsum consequat nisl vel pretium lectus quam.

        In tellus integer feugiat scelerisque varius morbi enim nunc. Nulla at volutpat diam ut venenatis tellus in.
        Maecenas sed enim ut sem viverra aliquet eget sit amet. Mattis vulputate enim nulla aliquet porttitor. Integer
        enim neque volutpat ac tincidunt vitae semper. Mauris rhoncus aenean vel elit scelerisque mauris. Semper quis
        lectus nulla at. Convallis a cras semper auctor neque vitae tempus. At risus viverra adipiscing at in tellus
        integer feugiat. Tellus molestie nunc non blandit massa enim nec dui nunc. Iaculis nunc sed augue lacus viverra
        vitae congue. Scelerisque varius morbi enim nunc faucibus a pellentesque sit amet. Non quam lacus suspendisse
        faucibus interdum posuere. Adipiscing elit pellentesque habitant morbi tristique senectus et netus. Dictum
        varius duis at consectetur lorem donec massa. Ut enim blandit volutpat maecenas volutpat blandit aliquam.</p>

        <%- include("partials/footer.ejs") %> 

    </body>

</html>