<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesIndex.css">
    <link rel="icon" type ="image/x-icon "  href="/images/favicon.ico">
    <title>To-Do</title>
</head>
<body>
  
    <%- include("partials/header.ejs") %> 
    <img src="/images/12297152_4892463.png">
    <div class="container">
        <h2>Introducing TaskMinder</h2>
    <p>Your ultimate productivity companion. Our sleek and user-friendly to-do list product is designed
    to streamline your daily tasks, making organization effortless. Whether you're managing personal projects or
    collaborating with a team, TaskMinder is your go-to solution for boosting efficiency and taking control of your busy
    life. Try TaskMinder today and transform the way you tackle your to-do lists.</p>
    <a class="button" href="/signUp">Register</a>  
    </div>

   <%- include("partials/footer.ejs") %> 
</body>
</html>