<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesIndex.css">
    <title>To-Do</title>
</head>
<body>
  
    <%- include("partials/header.ejs") %> 
    <form action="/submit" method="POST">
        <h1>Hey check out our To-Do app</h1>
        <input class="button" type="submit" value="Go!">
    </form>
   
   <%- include("partials/footer.ejs") %> 
</body>
</html>