<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskMinder</title>
</head>
<body>
    <%- include("partials/header.ejs") %> 
    <h1> manager dash board</h1>
    </form>
    <form action="/manager" method="post">

        <input type="text" name = "tasks">
        <input type="submit" value= "+">
        
    </form>
    <%- include("partials/footer.ejs") %> 
</body>
</html>