<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesLog.css">
    <link rel="icon" type ="image/x-icon "  href="/images/favicon2.ico">
    <title>Document</title>
</head>
<body>
    <%- include("partials/header.ejs") %> 
<div class="container2">
    <h1>Register</h1>
    
        <form method="post" action="/signUp">
            <label >Email</label>
            <input type="text"  name="username" required>
            <label >Password</label>
            <input type="text" name="password" required>
            <label >Please choose your Role</label>
            
                <select name ="role" id="userType">
                    <option value="manager">Manager</option>
                    <option value="user">User</option>
                </select>
            <input type="submit" value="submit">
        </form>
    </div>
    
    <%- include("partials/footer.ejs") %> 
</body>
</html>