<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("partials/header.ejs") %> 

    <h1>Register</h1>
    <div>
        <form method="post" action="/signUp">
            <label >Email</label>
            <input type="text"  name="Email" required>
            <label >Password</label>
            <input type="text" name="Password" required>
            <label >Role</label>
            <input type="text"name="role" required>
            <input type="submit" value="submit">
        </form>
        
    </div>

    <%- include("partials/footer.ejs") %> 
</body>
</html>