<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type ="image/x-icon "  href="/images/favicon.ico">
    <title>TaskMinder</title>
</head>
<body>
    <%- include("partials/header.ejs") %> 

    <h1>user Dash Board</h1>
    <h2>Tasks to be done</h2>
    <form action="/UDelete" method="post">
        <div style="overflow-y: scroll; height:200px; width:400px; border-color: black; border: solid;">
        <% Display.forEach(function (name){ %>
        <input onChange="this.form.submit()" type="checkbox" name="it" value ='<%= name%>'><%= name%></input><br>
        <%  }) %>
        </div>
    </form>
    
       
   
    
    
    <%- include("partials/footer.ejs") %> 
</body>
</html>