
body::-webkit-scrollbar {
    display: none;
}

.pic{
    height: 200px;
    width: 200px;
    display: block;
    margin-left: 350px;
    margin-top: 20px;
    border-radius: 100px;
}
.para{
    width: 50%;
    margin-top:10px;
    margin-left: 215px;
    font-size: 1.2rem;
    text-wrap: wrap;
    text-align: center;
}

