* {
    margin: 0px;

}

.button {
    font-size: 2rem;
    border: none;
    padding: 0.25rem 1rem;
    border-radius: 20px;
    background-color: white;
    text-decoration: none;
    color: black;
}

h2 {
    color: black;
}

.button:hover {
    background-color:#ffa729;
    color:aliceblue;
}

.container {
    max-height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 2rem;
    padding-top: 3rem;
    align-items: center;
    justify-content:center;
}

img {
    margin-left: 10rem;
    margin-top: 3rem;
    image-rendering: pixelated;
    float: left;
    
    border-radius: 100px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 400px;
    width: 450px;
}
.container> h2{
    color: #0b2d44;
}
.container>p {
    font-size: 1.25rem;
    color: #0b2d44;
}
.container>a{
  color:  #0b2d44;
}